#l'editeur python utilisé
thonny
#prise en charge de esp32/esp8266
esptool
#Ajouts Selmen 

#designer as a python package (shortcut : pyqt5_qt5_designer ) ; loads pyqt5 as well
pyqt5_qt5_designer

#thonny_palestine_flag
thonny-autosave
thonny-loaduiautocomplete
thonny-tunisiaschools

#needed by thonny
pyserial
wheel
#scientifiques
pandas
numpy
matplotlib
#economie
xlrd
xlsxwriter
xlwt
openpyxl
jupyterlab
notebook

